@mixin rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow($shadow) {
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

#site_bar_content {
  height:47px;
  position: relative;
  margin: 0px auto 10px auto;
  text-align: left;
  width: 990px;
}
#site_bar {
  background: -webkit-linear-gradient(#fff 0%, #ccc 100%);
  border-bottom: 0px none;
}
a#site_bar_refinery_cms_logo {
  left: 448px;
}
#site_bar, #site_bar * {
  color: #333;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0 1px #FFF;
}
#editor_switch, #site_bar_branding, a#site_bar_refinery_cms_logo { position: absolute; }
#editor_switch {
  left: 0px;
  @include rounded(3px);
  a, a:hover {
    color: #FFF;
    background: -webkit-linear-gradient(#999 0%, #666 100%);
    border-bottom: none;
    padding: 6px 14px;
    height: 26px;
    line-height: 24px;
    cursor: pointer;
    text-shadow: 0 -1px 1px rgba(0,0,0,.2);
  }
  a:hover {
	  color: #55BEFA;
  }
  span {
    height: 26px;
    line-height: 26px;
    margin-top: 9px;
    display: block;
    cursor: pointer;
  }
  a, span {
    @include rounded(3px);
  }
}
#site_bar {
  height: 47px;
  padding: 0px;
  @include shadow(0 1px 3px rgba(0,0,0,0.5));
  * {
    line-height: 47px;
  }
  a {
    text-decoration: none;
  }
  #site_bar_branding {
    right: 0px;
    a {
      font-weight: normal;
      &#logout {
        margin-left: 12px;
      }
    }
  }
  #site_bar_company_name {
    font-weight: bold;
  }
}
a#site_bar_refinery_cms_logo {
  left: 44.5%;
  border-bottom: none;
  line-height: 29px;
  height: 29px;
  margin-top: 9px;
  overflow: hidden;
  &:hover {
    border-bottom: none;
    opacity: 1;
    img {
      margin-top: -29px;
    }
  }
}
.ie7 #site_bar #editor_switch a {
  height: 26px;
  line-height: 26px;
}
